<body>
    <h1>Entre em contato</h1>


    <form>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" placeholder="Seu nome aqui">
  
      <label for="email" minLength="3" required>E-mail:</label>
      <input type="text" id="email" name="email" placeholder="Seu e-mail aqui">
  
      <label for="mensagem">Mensagem:</label>
      <textarea id="mensagem" name="mensagem" placeholder="Sua mensagem aqui"></textarea>
  
      <div>
        <h1 *ngIf="show"> Mostrando texto daqui </h1>
      </div>
      <button>Enviar</button>
    </form>

  </body>